<div class="search-box">
  <input type="text"
         id="search-input"
         class="search-input"
         placeholder="<%= theme.search.placeholder || __('search.placeholder') %>"
         autocomplete="off">
  <div id="search-result" class="search-result"></div>
  <p id="search-no-result" class="search-no-result" style="display: none;">
    <%= __('search.no_results') %>
  </p>
</div>
